.button-container {
	margin: 3rem 2rem 4rem 2rem;
	width: 100%;
}

.btn {

	&--card {
		width: 50%;
		margin: 1rem auto;
	}

	&--alt {
		background-color: $dark-green;
		color: white;

		&:hover {
			color: $dark-green;
			background-color: white;
			border-color: $dark-green;
		}
	}
}
