.card-deck {
	flex-flow: column;

	@media (min-width: 992px)
	{
		margin-left: 0;
	}
}


.card {
	background-color: $secondary-background;
	box-shadow: $box-shadow;
	width: initial;

	&:hover {
		box-shadow: none;
		transform: translateY(3px);
	}

	.card-body {

		max-width: 60rem;
		margin: auto;
		
		.card-title {
			margin: 1rem 0;
		}

		.card-text {
			margin-bottom: 2rem;
		}
	}

	.btn {
		margin-bottom: 2rem;
	}
}

.card-img-top {
	height: 30rem;
	object-fit: cover;
}