
// Display Text - uppercase
%display-text-uc {
	@include text($display-font, $font-p1, $weight: $display-weight--normal);
	text-transform: uppercase;
}

// Creates flex container with row wrap
%flex-container-rwrap {
	list-style: none;

	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-webkit-flex-flow: row wrap;
}

// A container for featured text - uses secondary color
%feature-container {
	letter-spacing: 0.15rem;
	color: $secondary-text;
	text-align: center;
	padding: 2rem 3rem;
	max-width: $max-text-width--display;
}

// Formatting for tiles
%tile {
	font-weight: $body-weight--heavy;
	background-color: $primary-background;
	color: black;
	padding: 40px;
    @media #{$brk-sm} {
    	padding: 40px;
    }
}

// Formatting for picture background tiles
%picture-tile {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;	
	background-blend-mode: darken;
	color: $primary-text;
	line-height: 3rem;
	font-size: 1.5rem;
	text-shadow: $font-shadow;
}

// For sliding the page when right-hand side navigation opens
%nav-right-transition {
	transition: margin-right 0.5s;
}

// Styling and positioning for nav close button
%close-btn {
	position: absolute;
	top: 0;
	font-size: $font-h3;
	padding: 10px;
	cursor: pointer;
}