/*Header styles*/


// Header with collapsed navigation (will incorporate full header for diff project)
.header {
	@extend %flex-container-rwrap;	
	justify-content: flex-end;
	width: 100%;
	height: auto;	
	z-index: 100;
	padding-left: 10px;
	padding-right: 30px;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;

	&--fixed {
		position: fixed;
	}

	/* Opaque Bar */
	&--opaque {
		background: rgba(0, 0, 0, 0.95);
		box-shadow: $font-shadow;
	}		

	&__logo {
		-webkit-filter: drop-shadow( 2px 2px 1px #000 ); 
            filter: drop-shadow( 2px 2px 1px #000 );
	    cursor: pointer;
	    width: 15rem;
	    @media #{$brk-sm} {
	    	width: 21.88rem;
		}
	}

	&__toggle {
		@extend %display-text-uc;
		cursor: pointer;
		color: $primary-background;
		text-shadow: $font-shadow;
		font-size: 30px;
		padding-top: 25px;

		@media #{$brk-xs} {
			padding-top: 20px;
			font-size: 20px;
		}
	
	}
}


