
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1.4rem;
	right: 0;
	width: 85%;
	border-radius: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(255, 255, 255, 0.9);

	&:hover {
		opacity: 1;
		cursor: pointer;
	}

	&__text {
		color: $soft-black;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;

		&--heading {
			border-bottom: 1px solid black;
			padding-bottom: 10px;
		}
	}
}