//Color variables

	$soft-black           : #181F1C;
	$soft-white           : #EDEDED;
	$gold                 : #9EA93F;  
	$dark-green           : #008148;
	$gray                 : #395756;  


//Functional color variables

	$primary-background   : $soft-white;
	$primary-text         : $soft-black;
	$secondary-text       : $gold;  
	$secondary-background : $dark-green;   
	$tertiary             : $gray;  

//Font variables

   	$display-font              : 'Raleway', Arial, sans-serif;
   	$body-font                 : 'Montserrat', Arial, sans-serif;
   	$base__font-size           : 16px;
   	$base__line                : 1.5;
   	$paragraph-width           : 75vw;
   	$max-text-width--display   : 66rem;
   	$max-text-width--body      : 40rem;

   	$display-weight--light : 400;
   	$display-weight--normal: 500;
   	$body-weight--light    : 400;
   	$body-weight--heavy    : 600;

   	$font-shadow           : 2px 2px 4px #000;
   	$box-shadow            : 0px 3px 10px rgba(0, 0, 0, 0.5);

// Font size variables

	$font-h1      : 4.5rem;
	$font-h2      : 3.4rem;
	$font-h3      : 2.6rem;
	$font-h4      : 2.262rem;
	$font-pL      : 1.7rem;
	$font-p1      : 1.4rem;
	$font-p2      : 0.8rem;
	$font-p3      : 0.64rem;
	$font-p4      : 0.512rem;

// Splash Page Positioning and Size

	$splash-size-sm   : 50vh;    
	$splash-size-lg   : 60vh;

// Asset paths

	$path-img       : '../imgs';
	$path-font      : '../assets/googlefonts';
	$path-fa-icon   : '../assets/wildlandsicons/fonts';

// Media query breakpoints
	
	// Extra small devices (phones)
	$brk-xs            : 'only screen and (max-width: 600px)';
	// Small devices (portrait tablets and large phones)
	$brk-sm            : 'only screen and (min-width: 600px)';
	// Medium devices (landscape tablets)
	$brk-med           : 'only screen and (min-width: 768px)';
	// Large devices (laptops/desktops)
	$brk-lg            : 'only screen and (min-width: 992px)';
	$brk-xl            : 'only screen and (min-width: 1200px)';
