
// Text

@mixin text($family: null, $size: null, $l-height: null, $weight: null, $color: null) {
	font-family: $family;
	font-size: $size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}

// set font size in px and rem
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// Add grid area name from map
@mixin grid-item-name($map){
	@each $name in $map {
	    &--#{$name} {
	        grid-area: #{$name};
	    }
	}
}

// Mixin picture tile backgrounds
@mixin bg-image-tile($map) {
	@each $tile, $picture in $map {
		&--#{$tile} {
			background-image: $picture;
		}
	}
}

//Mix in for appending same styles to image tile buttons on homepage
@mixin image-tile-format($map) {
	@each $section in $map {
		&--#{$section} {
			@extend %picture-tile;
			@extend %tile;
			flex: 1 0 12.5rem;
		}
		
		&--#{$section}__paragraph {
			font-size: $font-h4;
			line-height: $base__line;
		}
	}
}

